SUPABASE_URL=https://dyjvzjrjrclpevuzgtif.supabase.co
SUPABASE_PUBLISHABLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImR5anZ6anJqcmNscGV2dXpndGlmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMyNDU4MTcsImV4cCI6MjA4ODgyMTgxN30.N0vf0RjEOjUaCqRny0DYJwXlJ4kO_TgxbOxADEq6_Fs
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImR5anZ6anJqcmNscGV2dXpndGlmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMyNDU4MTcsImV4cCI6MjA4ODgyMTgxN30.N0vf0RjEOjUaCqRny0DYJwXlJ4kO_TgxbOxADEq6_Fs
SUPABASE_SERVICE_ROLE_KEY=
DJANGO_SECRET_KEY=dev-secret-key
DJANGO_DEBUG=true
REACT_APP_API_URL=http://15.240.44.47:8000
